### Print strings with variables in it

* Example 1: variable type 'string'

In [25]:
string_1 = "Camelot"
string_2 = "place"

print("Let's not go to %s. 'Tis a silly %s." % (string_1, string_2))

Let's not go to Camelot. 'Tis a silly place.

In [28]:
name1 = 'Shomak'
name2 = 'Aura'

height1 = 1.11
height2 = 1.65346

print("%s is younger than %s. %s is %1.2f meters tall. %s is %1.2f meters tall." %(name1, name2, name1, height1, name2, height2))

Shomak is younger than Aura. Shomak is 1.11 meters tall. Aura is 1.65 meters tall.

### Print strings with variables in it using .format

#### string displaying time: HH:MM:SS

In [29]:
hour = 10
minute = 39
second = 59

time_string = '{}:{}:{}'.format(hour, minute, second)
print(time_string)

10:39:59

In [30]:
hour = 1
minute = 29
second = 5

time_list = [hour, minute, second]
for i in range(0, len(time_list)): 
  elem = time_list[i]
  if len(str(elem)) < 2:
    time_list[i] = "0"+str(elem)

[hour, minute, second] = time_list

time_string = '{}:{}:{}'.format(hour, minute, second)
print(time_string)

01:29:05

### Alignment

#### Left alignment (default)

In [31]:
string = "puppet"
print("The string 'puppet' has", len(string), "characters.")
print('The string \'puppet\' has', len(string), 'characters.')

The string 'puppet' has 6 characters.
The string 'puppet' has 6 characters.

In [32]:
# left alignment can be specified to fix the number of characters in a string
string = "puppet"
print(string, len(string))

string = format(string, '<18s')
print(string, len(string))
print(string, string)

puppet 6
puppet             18
puppet             puppet

#### Right alignment

In [33]:
# right alignment
string = "puppet"
print(format(string, '>18s'))

            puppet

#### center alignment

In [34]:
# center alignment
string = "puppet"
print(format(string, '^18s'))

      puppet

In [35]:
# formating decimals
x = 1.23456
y = format(x, '2.2f')
print(y)

1.23

In [36]:
# formating decimals
x = 1.23456
y = format(x, '10.10f')
print(y)

1.2345600000

In [37]:
# formating decimals
x = 1.23456
y = format(x, '>10.1f')
print(y)

       1.2

In [38]:
# formating decimals
x = 1.23456
y = format(x, '^10.1f')
print(y)

   1.2

In [39]:
# print items in sepatate lines
for i in range(111, 121):
  print(i)

111
112
113
114
115
116
117
118
119
120

In [40]:
# print items in the same line
for i in range(111, 121):
  print(i,end="") # no space

111112113114115116117118119120

In [41]:
# print items in the same line
for i in range(111, 121):
  print(i,end=" ") # single space

111 112 113 114 115 116 117 118 119 120

In [42]:
# print items in the same line
for i in range(111, 121):
  print(i,end="  ") # double space

111  112  113  114  115  116  117  118  119  120

In [43]:
# print items in the same line
for i in range(111, 121):
  print(i,end=",") # separated by comma

111,112,113,114,115,116,117,118,119,120,

In [44]:
# print items in the same line
for i in range(111, 121):
  print(i,end="puppet") # separated by comma

111puppet112puppet113puppet114puppet115puppet116puppet117puppet118puppet119puppet120puppet

#### newline with \n

In [45]:
print("If I were a white rabbit,\n\
I would not like to be called a white rabbit.\n\
Instead I would like to be called\n\
whibbit")

If I were a white rabbit,
I would not like to be called a white rabbit.
Instead I would like to be called
whibbit

In [46]:
print("If I were a white rabbit,\n \
I would not like to be called a white rabbit.\n \
Instead I would like to be called\n \
whibbit")

If I were a white rabbit,
 I would not like to be called a white rabbit.
 Instead I would like to be called
 whibbit

In [47]:
x, y = 5, 4

print("There are",x,"apples and",y,"oranges.")

There are 5 apples and 4 oranges.

### How to print string and variables in the same line without spaces in between. Expected: There are5apples.